@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../projeto/fontes/idroid.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
    margin: auto;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;

    --fonte-destaque: 'Londrina Solid', sans-serif;

    --fonte-android: 'Android', 'cursive';

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to top, var(--cor5)25%, var(--cor3));
    text-align: center;
    min-height: 260px;

}

header > h1 {
    color: white;
    font-size: 4em;
    font-family: var(--fonte-destaque);
    font-weight: lighter;
    margin-bottom: 20px;
    padding-top: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
}

header > p {
    color: white;
    padding: 0px 10px 60px 10px;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 540px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);

}

nav {
    background-color: var(--cor5);
    padding: 2px 0px 7px 20px;
}

nav > a {
    color: var(--cor1);
    margin-right: 3px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    transition-duration: 0.5s;
    border-radius: 3px;
}

nav > a:active {
    border-radius: 8px;
}

main {
    background-color: white;
    min-width: 250px;
    max-width: 800px;
    margin: auto; 
    margin-bottom: 100px;   
    padding: 10px 10px 40px 10px;    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: lighter;
    font-size: 1.8em;
    color: var(--cor5);
    background-image: linear-gradient(to left, white, var(--cor0));    
    padding: 0px 5px;
    border-radius: 3px;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);    
    padding: 0px 5px;
    border-radius: 3px;
}

main h3 {
    font-family: var(--fonte-android);
    font-size: 1em;
    font-weight: lighter;
    color: var(--cor4);
}

main p {
    font-family: var(--fonte-padrao);
    text-align: justify;   
    text-indent: 30px;
    line-height: 2em;
    padding: 15px 0px;    
    
}

main strong {
    color: var(--cor5);    
}

main a {
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}
main a:hover {
    color: var(--cor0);
    background-color: var(--cor5);
    padding: 2px 6px;
    border-radius: 8px;
    text-decoration: underline;
    font-weight: bold;
    transition-duration: 0.5s;
}

/*IMAGENS*/
img {
    width: 100%;    
}

.pequena {
    margin: auto;
    display: block;
    width: 350px;
    height: 200px;
}

/*VÃDEOS*/
div.video {
    background-color: var(--cor5);    
    margin: 0px -10px 30px -10px;
    padding: 20px 20px 20px 20px;
    padding-bottom: 50%;
    position: relative;
    box-shadow: 0px 0px 10px var(--cor1);
}

div.video > iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 78.6%;
    height: 75%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #063d1e7a;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    
}

aside h3 {
    color: white;
    background-color: var(--cor4);
    padding: 5px;
    padding-left: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    text-align: center;
    background-color: var(--cor4);
    color: var(--cor0);
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: var(--cor0);
    font-weight: bolder;
    text-decoration: none;    
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

